@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

#confirmation-message {
    display: none;
    color: green;
    margin-top: 10px;
}

.error-message {
    display: none;
    color: rgb(255, 0, 0);
    margin-top: 10px;
}

.contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #121317;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 800px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #2948c7;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 50px 0;
}
.content{
    flex-basis: 55%;
    padding: 4em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: rgba(53,120,149,255);
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}
.btn,
button,
input{
    border-radius: 35px;
}
.btn:hover,
button:hover{
    color: #2948c7;
    transition: 0.5s ease;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #2948c7;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #2948c7;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #2948c7;

}
@media(max-width:736px){
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}