body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

#imoveis-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imovel {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imovel h2 {
    margin-top: 0;
}

.imovel p {
    margin: 5px 0;
}

.imovel button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.imovel button:hover {
    background-color: #0056b3;
}
